{% extends "template.html" %}
{% block title %}Flack - choose a nickname{% endblock %}
<meta name="description" content="log-in page for a chatroom application featuring real time communication via websockets">
{% block body %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flash>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="login-body">
        <form method="POST">
            <input type="text" name="nickname" placeholder="Choose a nickname.." >
            <button>Enter</button>
        </form>
    </div>
    <script>document.querySelector("input").focus();</script>
{% endblock %}